.rainContainer {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 1000px;
  overflow: hidden;
  animation: showRain .5s both;
  /* display: none; */
}

.rainBackground {
  height: 150%;
  width: 150%;
  position: absolute;
  left: -25%;
  top: -25%;
  z-index: 0;
  transform: translateZ(-100px);
  background: repeating-linear-gradient(
    90deg,
    #971e21,
    #971e21 40px,
    #3e893f 40px,
    #3e893f 80px
  );
}

.floatingCard {
  height: 125px;
  width: 75px;
  transform-style: preserve-3d;
  animation: rotateCard 1s linear infinite;
  border-radius: 6px;
  position: absolute;
}

@keyframes rotateCard {
  0% {
    transform: rotateZ(30deg) rotateY(0deg);
  }
  100% {
    transform: rotateZ(30deg) rotateY(360deg);
  }
}
.cardFront {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-origin: center;
  /* transform:rotateZ() */
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
}
.cardBack {
  height: 100%;
  width: 100%;
  transform-origin: center;
  position: absolute;
  transform: rotateY(180deg) translateZ(-1px);
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
}

.houseContainer {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
}

#submission {
  position: absolute;
  height: 20px;
  width: fit-content;
  top: 50px;
  left: 20px;
  z-index: 3;
}

.wall{
    width:100%;
    height:80%;

}
.upperTrim{
        width:100%;
        height:10%;
        position:absolute;
        background: repeating-linear-gradient(
    #b4a0a0,
    #d1f3d2 20px,
    #818d83 20px,
    #828382 40px
  );
        

}
.lowerTrim{
        width:100%;
        height:5%;
        position:absolute;
        top:75%;
        background-color: #818d83;

     



}
.wallpaper{
        width:100%;
        height:85%;
        position:absolute;
        top:10%;
        background: repeating-linear-gradient(
    90deg,
    #971e21,
    #971e21 40px,
    #3e893f 40px,
    #3e893f 80px
  );


}
.carpet{
        width:100%;
        position:absolute;
        height:20%;
        top:80%;
        background: repeating-linear-gradient(
    
    #3e2727,
    #3e2727 40px,
    #222a35 40px,
    #222a35 80px
  );


}

.frame{
    height:150px;
    width:125px;
      background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border:solid 10px rgb(152, 137, 54);
  /* z-index:4; */
  position:absolute;

}

.rainHide{
    animation: hideRain .5s both 
}

@keyframes hideRain {
    0%{transform:translateX(0%)}
    100%{transform: translateX(100%);}
    
}

@keyframes showRain {
    100%{transform:translateX(0%)}
    0%{transform: translateX(100%);}
    
}


.framePinned{
    transform: scale(.8);
      box-shadow: 2px 5px rgba(7, 7, 7, 0.235);
;
}

.window{
    background-color: black;
    height:200px;
    width:100px;
    border: goldenrod 10px solid;
    position:absolute;
    top:150px;
    left:calc(100% - 200px);
    overflow: hidden;

}
.barVert{
height:10px;
width:100%;
top:calc(50% + 5px);
position:absolute;
background-color: goldenrod;
}
.barHori{
    height:100%;
    width:10px;
    left:calc(50% - 5px);
    position:absolute;
    background-color: goldenrod;

}

.treeContainer{
    position:absolute;
    text-align: center;
    height:400px;
    width:300px;
    text-align: center;
    top:40%;    
    left:30%;
    z-index:5;
    transform:scale(1.5);
    pointer-events: none;
}

.base0{
    width:20%;
    height:50px;
    background-color: #694343;
        margin:auto;


}

.base1{
    margin:auto;
    width:100%;
    height:50px;
    background-image: url("./images/treebottom.svg");
    background-repeat: no-repeat;
    background-size: cover;

}
.base2{
     width:80%;
    height:50px;
    background-image: url("./images/treebottom.svg");
    background-repeat: no-repeat;
    background-size: cover;
        margin:auto;


}
.base3{
     width:60%;
    height:50px;
    background-image: url("./images/treebottom.svg");
    background-repeat: no-repeat;
    background-size: cover;
        margin:auto;


}
.tip{
     width:40%;
    height:50px;
    background-image: url("./images/treetop.svg");
    background-repeat: no-repeat;
    background-size: contain;
        margin:auto;
background-position:center;

}
.star{
     width:30%;
    height:50px;
    background-image: url("./images/star.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin:auto;
background-position:center;

}

.snow{
  background-color: rgba(245, 245, 245, 0.469);
  border-radius: 50%;
  position:absolute;
  z-index: 0;
}

.bulb{
  position:absolute;
  height:10px;
  width:10px;
  border-radius:50%;
  pointer-events: all;
}

.explode{
  animation:explode .2s both;
}

@keyframes explode {
  0%{ transform: scale(1); opacity: 1;}
  100%{transform: scale(3); opacity: .3;}
  
}


.present{
  position:absolute;
  pointer-events: all;

}
.ribbon1{
    height:100%;
    width:5px;
    position:absolute;

}
.ribbon2{
     width:100%;
    height:5px;
    position:absolute;

}

@keyframes box0 {
  0%{transform: translate(0%);}
  100%{transform: translate(350%);}

  
}

@keyframes box1 {
  0%{transform: translate(0%);}
  100%{transform: translate(-160%);}

  
}

@keyframes box2 {
  0%{transform: translate(0%);}
  100%{transform: translate(230%);}

  
}

@keyframes box3 {
  0%{transform: translate(0%);}
  100%{transform: translate(-600%);}

  
}

@keyframes box4 {
  0%{transform: translate(0%);}
  100%{transform: translate(-420%);}

  
}

@keyframes box5 {
  0%{transform: translate(0%);}
  100%{transform: translate(-50%);}

  
}

.sparkle{
  position:absolute;
  height:5px;
  width:5px;


}

body{
  overflow: hidden;
}